# Dependencies
/node_modules

# Build artifacts
/build

# Test reports
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
